/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

body * {
	box-sizing: border-box;
}
body {
	background: #7e9e37;
	font-family: "Segoe UI", -apple-system, sans-serif;
}
p {
	line-height: 1.4;
	font-size: 20px;
}
p a {
	font-weight: bold;
}
.logo {
	display: block;
	width: 280px;
	margin: 20px auto;
}
.container {
	max-width: 400px;
	background: #fff;
	margin: 20px auto;
	padding: 20px;
	border-radius: 4px;
}
.container h1 {
	margin: -20px -20px 30px;
	text-align: center;
	background: #333333;
	padding: 20px;
	color: #fff;
	border-radius: 4px 4px 0 0;
	font-size: 26px;
}
.container h1.error {
	background: yellow;
	color: red;
}
.container h2 {
	font-size: 16px;
	color: #555;
	text-transform: uppercase;
}
label:first-child {
	margin-top: 0;
}
label {
	display: block;
	font-size: 14px;
	/*text-transform: uppercase;*/
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
}
label em {
	font-weight: normal;
	font-style: italic;
	color: #999;
	font-size: 14px;
}
label.error {
	margin-top: 4px;
	color: red;
}
input {
	width: 100%;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 6px;
	display: block;
	font-size: 20px;
}
input.error {
	border-color: red;
}
input[type=checkbox] {
	margin-right: 2px;
	display: inline-block;
	width: auto;
}
input#card {
	background: url('paymentmethod-cc.png') no-repeat;
	background-size: 24px;
	background-position: 10px;
	padding-left: 40px;
}
label.checkbox {
	text-align: center;
}
#amount {
	font-size: 24px;
	padding-left: 30px;
}
.amount-wrapper {
	position: relative;
}
.amount-wrapper:before {
	position: absolute;
	content: "$";
	font-size: 20px;
	top: 12px;
	left: 10px;
}
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 47%;
	margin-right: 4%;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #aaa;
	background: url('icon-arrow-down.png') no-repeat;
	background-size: 30px;
	background-position: right 10px;
}
select::-ms-expand {
    display: none;
}
select#expyear {
	margin-right: 0;
}
button {
	background: #5d852f;
	border: none;
	color: #fff;
	padding: 15px;
	text-align: center;
	display: block;
	margin: 20px 0 0 0;
	width: 100%;
	font-family: inherit;
	font-size: 20px;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
}
button:disabled {
	background: #aaa;
	cursor: progress;
}